# Assignment 3

### Write a function to count the number 4 in a given list.

In [3]:
list=[1,2,3,4,4,4,3,4,7,4,8,4,9,4,4,6,8,0,3,6,4]
list1=[x for x in list if x==4 ]
len(list1)

9

### write a  function to check whether a number is divisible by another number.

In [9]:
 x=10
 x1=2
 if x%x1==0 :
    print('{} is divisible by {}'.format(x,x1))
 else :
     print('{} is not divisible by {}'.format(x,x1))

10 is divisible by 2

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [16]:
#find maximum
list=[5,3,10,11,1,6,15,14,19,20,25]
for x in list :
    temp=0
    if(temp<x) :
        temp=x
print('{} is maximum number'.format(temp))

#find minimum
list=[5,3,10,11,1,6,15,14,19,20,25,-1]
for x in list :
    temp=1
    if(temp>x) :
        temp=x
print('{} is minimum number'.format(temp))

25 is maximum number
-1 is minimum number

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [23]:
list1=[1,3,5,8,6,9,2]
list2=[1,33,35,85,67,91,2]


def bare(list1,list2):
  for x in list1:
    for x1 in list2:
        if x==x1:
            return 'true'
  return 'false' 

bare(list1,list2)

'true'

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [25]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [35]:
def if_in_range(upper_range,lower_range,number):
    if number < upper_range and number > lower_range:
        print('{} is within range'.format(number))
    else :
        print('{} is not within range'.format(number))
        
if_in_range(11,3,5)

5 is within range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [37]:
def multiplication_table() :
    for x in range(1,11):
        print('multiblcation table for number {}'.format(x))
        for x1 in range(1,11):
            xv=x*x1
            print('{} * {} ={}'.format(x,x1,xv))
            
multiplication_table()

multiblcation table for number 1
1 * 1 =1
1 * 2 =2
1 * 3 =3
1 * 4 =4
1 * 5 =5
1 * 6 =6
1 * 7 =7
1 * 8 =8
1 * 9 =9
1 * 10 =10
multiblcation table for number 2
2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20
multiblcation table for number 3
3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
multiblcation table for number 4
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40
multiblcation table for number 5
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50
multiblcation table for number 6
6 * 1 =6
6 * 2 =12
6 * 3 =18
6 * 4 =24
6 * 5 =30
6 * 6 =36
6 * 7 =42
6 * 8 =48
6 * 9 =54
6 * 10 =60
multiblcation table for number 7
7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63
7 * 10 =70
multiblcation table for number 8
8 * 1 =8
8 * 2 =16
8 * 3 =24
8 * 4 =32
8 * 5 =40
8 * 6 =48
8 * 7 =56
8 * 8 =64
8 * 9 =72
8 * 10 =80
multiblcation table for number 9
9 * 1 =9
9 * 2 =18
9 * 3 =27
9 * 4 =36
9 * 5 =45
9 * 6 =54
9 * 7 =63
9 * 8 =72
9 * 9 =81
9 * 10 =90
multiblcation table for number 10
10 * 1 =10
10 * 2 =20
10 * 3 =30
10 * 4 =40
10 * 5 =50
10 * 6 =60
10 * 7 =70
10 * 8 =80
10 * 9 =90
10 * 10 =100

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [42]:
def lesser_of_two_evens(number1,number2):
    if number1%2==0 and number2%2==0:
       return min(number1,number2)

    if number1%2!=0 or number2%2!=0:
       return max(number1,number2)
print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [61]:
def ANIMAL_CRACKERS(st):
    st1=st.split()
    if st1[0][0]==st1[1][0]:
        return 'true'
    else :
        return 'false'

print(ANIMAL_CRACKERS('Levelheaded Llama')) 
print(ANIMAL_CRACKERS('Crazy Kangaroo') )

true
false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [59]:
def MAKES_TWENTY(number1,number2):
    sum=number1+number2
    if number1 ==20 or number2 ==20 or sum==20:
        return 'true'
    else :
        return 'false'
    
print(MAKES_TWENTY(20,10) )
print(MAKES_TWENTY(12,8) )
print(MAKES_TWENTY(2,3) )

true
true
false

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [65]:
def ALMOST_THERE(number):
    number=abs(number)
    if number in range(90,111) or number in range(190,211):
        return 'true'
    else :
        return 'false'
    
print (ALMOST_THERE(90))
print (ALMOST_THERE(104))
print (ALMOST_THERE(150))
print (ALMOST_THERE(209)

true
true
false
true

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [72]:
def BLACKJACK(number1,number2,number3):
    if number1 in range(1,12) and number2 in range(1,12) and number3 in range(1,12):
        sum=(number1+number2+number3) 
        if sum <= 21:
            return sum
        elif sum>21 and (number1==11 or number2==11 or number3==11):
            sum-=10;
            return sum
        elif sum>21:
            return 'BUST'
            
    else :
        return 'not within correct range'
print(BLACKJACK(5,6,7))
print(BLACKJACK(9,9,9))
print(BLACKJACK(9,9,11))   
print(BLACKJACK(9,15,11))

18
BUST
19
not within correct range